<div *ngIf="hasError">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oops!</strong> something went wrong.
  </div>
</div>

<p class="h1">List Of Site</p>
<p class="h6">List of sites and total donations received</p>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Site URL</th>
      <th>Total Donation</th>
      <th>Show Donators</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of result
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalCount
              }
      "
    >
      <td>{{ item.siteName }}</td>
      <td>{{ item.siteURL }}</td>
      <td>{{ item.totalDonation | number }} $</td>
      <td>
        <a
          class="btn btn-primary"
          [routerLink]="['/reportSiteDonation', item.siteID]"
        >
          <i class="fa fa-eye"></i> Show Donators
        </a>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  class="pagi"
  (pageChange)="onPagingChange((page = $event))"
></pagination-controls>
<br />
<br />
<br />
<br />
<br />
<br />
