<div *ngIf="hasError">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oops!</strong> something went wrong.
  </div>
</div>

<div *ngIf="isSuccess">
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong> Your operation successfully done.
  </div>
</div>

<p class="h1">List Of Candidate</p>

<a routerLink="/addSite" class="btn btn-primary">
  <span> Add New Site </span>
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Site URL</th>
      <th>Created Time</th>
      <th>Functions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of siteList">
      <td>{{ item.name }}</td>
      <td>{{ item.url }}</td>
      <td>{{ item.createdDateTime | date: "short" }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/updateSite', item.siteID]">
          <i class="fa fa-edit"></i> edit </a
        >&nbsp;
        <a class="btn btn-danger" (click)="deleteSite(item.siteID)">
          <i class="fa fa-trash"></i> delete </a
        >&nbsp;
        <a class="btn btn-success" [routerLink]="['/donate', item.siteID]">
          <i class="fa fa-plus"></i> donate </a
        >&nbsp;
      </td>
    </tr>
  </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
