<div *ngIf="isAddSuccess">
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong> Your site submitted.
  </div>
</div>

<a routerLink="/addSite" class="btn btn-primary">
  <span> Add New Site </span>
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Site URL</th>
      <th>Created Time</th>
      <th>Functions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of siteList">
      <td>{{ item.name }}</td>
      <td>{{ item.url }}</td>
      <td>john@example.com</td>
      <td>
        <a routerLink="/updateSite" class="btn">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
