<p class="h1">List Of Donation</p>

<div *ngIf="hasError">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oops!</strong> something went wrong.
  </div>
</div>

<br />
<br />
<div>
  <div class="row alert alert-info">
    <div class="col"><b> Site name : </b> {{ result[0].siteName }}</div>
    <div class="col">
      <b> Site URL : </b>
      <a href="{{ result[0].siteURL }}" target="_blank">
        {{ result[0].siteURL }}
      </a>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Donator</th>
      <th>Value ($)</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of result
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalCount
              }
      "
    >
      <td>{{ item.donator }}</td>
      <td>{{ item.value | number }} $</td>
    </tr>
  </tbody>
</table>
<pagination-controls
  class="pagi"
  (pageChange)="onPagingChange((page = $event), siteId)"
></pagination-controls>
<br />
<br />

<a routerLink="/reportSite" class="btn btn-danger">
  <span> Back </span>
</a>
